<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-orange.min.css">
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/Waves/dist/waves.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- Conidtional CSS/JS for subtemplates -->
  {{#if view_home}}
  <link rel="stylesheet" href="/stylesheets/home.css">
  {{/if}} {{#if view_signup}}
  <link rel="stylesheet" href="/stylesheets/floating-form.css">
  <link rel="stylesheet" href="/stylesheets/signup.css">
  {{/if}} {{#if view_game}}
  <link rel="stylesheet" href="/stylesheets/game.css">
  <script type="text/javascript" src="/game/lib/impact/impact.js"></script>
	<script type="text/javascript" src="/game/lib/game/main.js"></script>
  {{/if}} {{#if view_survey}}
  <link rel="stylesheet" href="/stylesheets/floating-form.css">
  {{/if}}
  <!-- End conditional CSS/JSS -->
</head>
<body>
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout__container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header waves">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <a class="mdl-layout-title" href="/">Kill The Mutants</a>
          <nav class="mdl-navigation toolbar">
            {{#if view_game}}
            <a id="run-tests" class="mdl-navigation__link" href="#">Run Tests</a>
            <a id="mutation-test" class="mdl-navigation__link" href="/logout">Kill Mutants!</a>
            {{/if}}
          </nav>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="https://github.com/kill-the-mutants" target="_blank">View Source</a>
            {{#unless loggedIn}}
            <a class="mdl-navigation__link" href="/login">Login or Signup</a>
            {{else}}
            <a class="mdl-navigation__link" href="#">{{username}}</a>
            <a class="mdl-navigation__link" href="/logout">Logout</a>
            {{/unless}}
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Kill The Mutants</span>
        <nav class="mdl-navigation">
          {{#unless loggedIn}}
          <a class="mdl-navigation__link waves" href="https://github.com/kill-the-mutants" target="_blank">View Source</a>
          <a class="mdl-navigation__link waves" href="/login">Login or Signup</a>
          {{else}}
          <a class="mdl-navigation__link waves" href="/game/example1">Example 1</a>
          <a class="mdl-navigation__link waves" href="/game/example2">Example 2</a>
          <a class="mdl-navigation__link waves" href="/game/example3">Example 3</a>
          <a class="mdl-navigation__link waves" href="/game/example4">Example 4</a>
          <a class="mdl-navigation__link waves" href="/game/example5">Example 5</a>
          <a class="mdl-navigation__link waves" href="/game/example6">Example 6</a>
          <a class="mdl-navigation__link waves" href="/game/example7">Example 7</a>
          <a class="mdl-navigation__link waves" href="/game/example8">Example 8</a>
          <a class="mdl-navigation__link waves" href="/game/example9">Example 9</a>
          {{/unless}}
        </nav>
      </div>
      <!-- MDL Progress Bar with Indeterminate Progress -->
      <div id="progress-indicator" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
      <main class="mdl-layout__content">
        {{{body}}}
      </main>
    </div>
  </div>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/Waves/dist/waves.min.js"></script>
  <script src="/javascripts/waves-init.js"></script>
  {{#if view_game}}
  <script src="/bower_components/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/ace-init.js"></script>
  <script src="/javascripts/game.js"></script>
  {{/if}} {{#if view_survey}}
  <script src="/javascripts/survey.js"></script>
  {{/if}}
<canvas id="canvas"></canvas>
</body>
</html>
